
body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background: #000000; /* Plano de fundo */
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
}

header {
    
    background: linear-gradient(#00ff08, #1900ff85, #000000);
    color: rgb(1, 162, 255);
    text-align: center;
    padding: 1rem 0;
    position: relative;
    z-index: 10;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 10;
}

.form-section, .links, .soon-message {
    background: rgba(0, 0, 0, 0.719);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(115, 0, 247);
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    border: 1px solid #1900ff;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background: linear-gradient(#00ff08, #1900ff85);
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00ff22c2;
}

.links a, .soon-message .icon img {
    margin: 0.5rem;
    transition: transform 0.3s ease;
}

.links a:hover, .soon-message .icon img:hover {
    transform: scale(1.1);
}

.soon-message h4 {
    margin-bottom: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
}

.icon {
    cursor: pointer;
}

.soon-message {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    background: #696e69;
    color: white;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 20;
    
}

#backgroundSlider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
}

#backgroundSlider img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#backgroundSlider img.active {
    opacity: 1;
}
